body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --heading-h5: Outfit;

  /* font sizes */
  --heading-h5-size: 16px;
  --heading-h3-size: 24px;
  --font-size-lgi: 19px;
  --font-size-59xl: 78px;

  /* Colors */
  --neutral-1: #fff;
  --neutral-10: #07132b;
  --neutral-7: #9ca1aa;
  --color-turquoise-100: #5cffe9;
  --color-blue-100: #40B0D5;

  /* Gaps */
  --gap-base: 16px;
  --gap-xl: 20px;
  --gap-5xl: 24px;
  --gap-21xl: 40px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-base: 16px;
  --padding-19xl: 38px;

  /* Border radiuses */
  --br-mini: 15px;
}
